@{
    ViewData["Title"] = "Dashboard";
}
<header>
    <img src="fdmLogo.png" alt="FDM Logo" id="fdmLogo">

    <!--- <form action="/action_page.php">
         Username:
         <input type="text" name="fname">
         <br> Password:
         <input type="text" name="lname">
         <br>
         <input id="submit" type="submit" value="Submit">
         <button id="logoutButton" type="button">Sign Out</button>
     </form> -->
</header>
    <div id="topContainer">
        
        <nav id="reportGenNav">
            <p>Press the button to generate the chart: </p>
            <input class="reportBtns, btn" id="reportBtn1" type="button" value="Length of time on site/Degree Classification">
            
            <input class="reportBtns, btn" id="reportBtn2" type="button" value="University/Placement Location">
            
            <input class="reportBtns, btn" id="reportBtn3" type="button" value="Subject/Job Role">
            
            <input class="reportBtns, btn" id="reportBtn4" type="button" value="Degree Classification/job Role">
        </nav>
        <br>
    </div>
    <div id="chartContainer">
        <div id="chartControl">
            <p>Chart Type</p>
            <select  id="type" class="dropdownSelect, btn">
                <option value="line">Line</option>
                <option value="pie">Pie</option>
                <option value="doughnut">Doughnut</option>
                <option value="bar">Bar</option>
                <option value="polarArea">Polar Area</option>
                <option value="bubble">Bubble</option>
                <option value="scatter">Scatter</option>
            </select>

            <p>Series</p>
            <!-- might need to change the values as they wont match.-->
            <select id="legend" class="dropdownSelect, btn">
                <option value="None">None</option>
                <option value="Stream Trained">Stream Trained</option>
                <option value="Job Role">JobRole</option>
                <option value="Placement Number">Placement Number</option>
                <option value="Operating Location Name">Operating Location Name</option>
                <option value="FDM Office">FDM Office</option>
                <option value="Start Date">Start Date</option>
                <option value="End Date">End Date</option>
                <option value="Degree Classification">Degree Classification</option>
                <option value="University of Study">University of Study</option>
                <option value="Degree Subject">Degree Subject</option>
            </select>

            <p>Axis X</p>
            <select id="axisX" class="dropdownSelect, btn">
                <option value="Stream Trained">Stream Trained</option>
                <option value="Job Role">JobRole</option>
                <option value="Placement Number">Placement Number</option>
                <option value="Operating Location Name">Operating Location Name</option>
                <option value="FDM Office">FDM Office</option>
                <option value="Start Date">Start Date</option>
                <option value="End Date">End Date</option>
                <option value="Degree Classification">Degree Classification</option>
                <option value="University of Study">University of Study</option>
                <option value="Degree Subject">Degree Subject</option>
            </select>

            <p>Axis Y</p>
            <select id="axisY" class="dropdownSelect, btn">
                <option value="Stream Trained">Stream Trained</option>
                <option value="Job Role">JobRole</option>
                <option value="Placement Number">Placement Number</option>
                <option value="Operating Location Name">Operating Location Name</option>
                <option value="FDM Office">FDM Office</option>
                <option value="Start Date">Start Date</option>
                <option value="End Date">End Date</option>
                <option value="Degree Classification">Degree Classification</option>
                <option value="University of Study">University of Study</option>
                <option value="Degree Subject">Degree Subject</option>
            </select>
            <br /><br />
            <input class="btn" id="reportGenButton, btn" type="button" value="Generate custom report">
            <br>
            </div>
            <br>
            <div class="chartDisplay">

                <canvas id="myChart" ></canvas>

            </div>
            <br>
            <div id="fileUploadDiv">
                <form method="post" enctype="multipart/form-data"
                      asp-controller="Home" asp-action="Post">
                    <p>Upload a file:</p>

                    <input class="btn" type="file" name="files" multiple />
                    <br>

                    <input class="btn" type="submit" value="Upload" />
                </form>
            </div>
    </div>