html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
table,
caption,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
}


/* css reset */

/*======== Navigation ==========*/

#reportGenNav {
    margin-left: 20px;
}

#fdmLogo {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 5em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.dropdownSelect {
    display: block;
    margin-right: 20px !important;
}

#chartControl {
    width: 200px;
    background-color: white;
    margin: 20px;
    float: left;
}

#myChart {
    background-color: #373737;
    text-align: right;
    max-width: 100%;
    min-width: 70%;
    margin-left: 20px;
    width: 80% !important;
    height: 40% !important;
}

#leftSideDropdown.active a:hover {
    color: #ffffff;
}

body {
    font-family: 'Raleway', sans-serif;
    border-top: 3px solid #1daded;
}

.btn {
    background-color: #262626;
    border-radius: 10px;
    border: 1px ridge solid;
    color: #f4f4f4;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

#fileUpload {
    float: left;
    clear: both;
}

#fileUploadDiv {
    margin: 20px;
}

header {
    display: table;
    width: 100%;
    color: black;
    background-color: #262626;
    border-top: cyan;
}

form {
    margin: 5px;
    text-align: right;
    display: inline-block;
    margin-left: 310px;
    display: table-cell;
    vertical-align: middle;
}

/* ======== media queries ======== */

@media only screen and (max-width: 950px) {

    #reportGenNav input {
        width: 100%;
        margin: 0%;
    }

    #reportGenNav {
        margin: 0%;
    }
}
